.App {
  text-align: center;
}

h1 {
  font-size: 35px;
  margin: 50px;
  color: #353535;
}

h2 {
  font-size: 50px;
  margin: 50px;
  font-weight: 400;
  color: #2e2e2e;
}

button {
  padding: 10px;
  margin: 10px;
  color: #fff;
  border-radius: 5%;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

#increment {
  background-color: #3941d8;
}

#decrement {
  background-color: #0b8274;
}
